<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>logback</contextName>
    <property name="logDir" value="C://A_D//PaiLa//PersonalWorkspace//SpringCloud//log" />
    <property name="SERVICENAME" value="producer" />
    <!-- <property name="LOG_FILE_PATH" value="C://A_D//PaiLa//PersonalWorkspace//SpringCloud//log" />-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--只打印INFO日志-->
            <level>DEBUG</level>
            <!--<onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>  注释解开 只打印info级别日志-->
        </filter>
    </appender>
    <!--  日志的级别： TRACE < DEBUG < INFO < WARN < ERROR < FATAL。  -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|[%thread]|%-5level|%X{api_url}|%X{error_msg}|%X{host_name}|%X{response_code}|%logger{50}|%logger{39}.%M:%line %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/${SERVICENAME}-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
        </filter>
    </appender>

    <root level="DEBUG" name="com.example.yangt.controller.TestController">
        <appender-ref ref="INFO_FILE" />
    </root>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>